ConsensoInformato2/.vs
ConsensoInformato2/lib
ConsensoInformato2/TestResults
ConsensoInformato2/Packages
ConsensoInformato2/ConsensoInformato2/bin
ConsensoInformato2/ConsensoInformato2/lib
ConsensoInformato2/ConsensoInformato2/obj
ConsensoInformato2/ConsensoInformatoTest/bin
ConsensoInformato2/ConsensoInformatoTest/obj



