<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsensoInformato2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsensoInformato2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  
  
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <ConsensoInformato2.Properties.Settings>
      <setting name="TemplatesStore" serializeAs="String">
        <value>D:\ConsensoInformatoData\ModuliConsensoInformato</value>
      </setting>
      <setting name="PdfStore" serializeAs="String">
        <value>D:\ConsensoInformatoData\PdfSource</value>
      </setting>
      <setting name="PdfDestination" serializeAs="String">
        <value>D:\ConsensoInformatoData\OutputPdf</value>
      </setting>
      <setting name="TemporaryStore" serializeAs="String">
        <value>D:\ConsensoInformatoData\Temp</value>
      </setting>
      <setting name="TemplateExtension" serializeAs="String">
        <value>pdf</value>
      </setting>
      <setting name="TemplatePostfix" serializeAs="String">
        <value>_template</value>
      </setting>
      <setting name="DoctorListStore" serializeAs="String">
        <value>D:\ConsensoInformatoData\Dottori.txt</value>
      </setting>
    </ConsensoInformato2.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ConsensoInformato2.Properties.Settings>
      <setting name="CurrentDoctor" serializeAs="String">
        <value />
      </setting>
    </ConsensoInformato2.Properties.Settings>
  </userSettings>


	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>


</configuration>
